@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

body {
  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0.8) 20%,
    #000000fa 100%
  );
  background-size: cover;
  background-position: center;
  color: white;
}

h1{
    color:white
}